<div class="dashboard-container">
  <h1>Dashboard Overview</h1>

  <div *ngIf="isLoadingSummary" class="loading-spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <ng-container *ngIf="summaryCards$ | async as cards; else noSummaryData">
    <div class="summary-cards-container">
      <mat-card *ngFor="let card of cards" 
        class="summary-card"
        [ngClass]="'summary-card-' + card.color">
        
        <div class="card-header">
          <mat-icon class="card-icon">{{ card.icon }}</mat-icon>
          <span class="card-label">{{ card.title }}</span>
        </div>
        <div class="card-value">{{ card.value }}</div>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noSummaryData>
    <p *ngIf="!isLoadingSummary">No summary data available.</p>
  </ng-template>

  <div class="charts-section">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Monthly Revenue</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-bar-vertical *ngIf="monthlyRevenueData$ | async as revenueData"
          [view]="barChartView"
          [results]="revenueData"
          [scheme]="barChartColorScheme"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Month'"
          [yAxisLabel]="'Revenue (USD)'">
        </ngx-charts-bar-vertical>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Expense Distribution</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-pie-chart *ngIf="expenseDistributionData$ | async as expenseData"
          [view]="pieChartView"
          [results]="expenseData"
          [scheme]="pieChartColorScheme"
          [gradient]="true"
          [legend]="true"
          [labels]="true"
          [doughnut]="pieChartIsDoughnut">
        </ngx-charts-pie-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
