<div class="dashboard-container">
  <h1>Dashboard Overview</h1>

  <!-- Summary Cards -->
  <div *ngIf="isLoadingSummary" class="loading-spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <ng-container *ngIf="summaryCards$ | async as cards; else noSummaryData">
    <mat-grid-list cols="1" rowHeight="180px" gutterSize="20px" *ngIf="cards.length > 0">
      <ng-container *ngIf="(isHandset$ | async) === false; else mobileCards">
        <mat-grid-list cols="4" rowHeight="180px" gutterSize="20px">
          <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
            <mat-card class="summary-card" [ngClass]="'summary-card-' + card.color">
              <mat-card-header>
                <mat-icon mat-card-avatar [ngClass]="'icon-' + card.color">{{ card.icon }}</mat-icon>
                <mat-card-title>{{ card.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="summary-value">{{ card.value }}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
      <ng-template #mobileCards>
        <mat-grid-list cols="2" rowHeight="180px" gutterSize="15px">
          <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
             <mat-card class="summary-card" [ngClass]="'summary-card-' + card.color">
              <mat-card-header>
                <mat-icon mat-card-avatar [ngClass]="'icon-' + card.color">{{ card.icon }}</mat-icon>
                <mat-card-title>{{ card.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="summary-value">{{ card.value }}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </mat-grid-list>
  </ng-container>
  <ng-template #noSummaryData>
    <p *ngIf="!isLoadingSummary">No summary data available.</p>
  </ng-template>

  <!-- Charts Section -->
  <div class="charts-section">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Monthly Revenue</mat-card-title>
      </mat-card-header>
      <mat-card-content class="chart-content-wrapper">
        <div *ngIf="isLoadingRevenueChart" class="loading-spinner-container chart-loader">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <ngx-charts-bar-vertical *ngIf="monthlyRevenueData$ | async as revenueData"
          [view]="barChartView"
          [results]="revenueData"
          [scheme]="barChartColorScheme"
          [gradient]="barChartGradient"
          [xAxis]="barChartShowXAxis"
          [yAxis]="barChartShowYAxis"
          [legend]="barChartShowLegend"
          [showXAxisLabel]="barChartShowXAxisLabel"
          [showYAxisLabel]="barChartShowYAxisLabel"
          [xAxisLabel]="barChartXAxisLabel"
          [yAxisLabel]="barChartYAxisLabel">
        </ngx-charts-bar-vertical>
        <p *ngIf="!(monthlyRevenueData$ | async) && !isLoadingRevenueChart" class="no-chart-data">No revenue data available.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Expense Distribution</mat-card-title>
      </mat-card-header>
      <mat-card-content class="chart-content-wrapper">
         <div *ngIf="isLoadingExpenseChart" class="loading-spinner-container chart-loader">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <ngx-charts-pie-chart *ngIf="expenseDistributionData$ | async as expenseData"
          [view]="pieChartView"
          [results]="expenseData"
          [scheme]="pieChartColorScheme"
          [gradient]="pieChartGradient"
          [legend]="pieChartShowLegend"
          [labels]="pieChartShowLabels"
          [doughnut]="pieChartIsDoughnut">
        </ngx-charts-pie-chart>
        <p *ngIf="!(expenseDistributionData$ | async) && !isLoadingExpenseChart" class="no-chart-data">No expense data available.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
