@use '@angular/material' as mat;

.sidenav-container {
  height: calc(100vh - 64px); /* Assuming toolbar height is 64px */
}

.sidenav {
  width: 250px;
  border-right: 1px solid rgba(0,0,0,0.12);
}

.main-content {
  padding: 20px;
  background-color: #fafafa;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-nav-list a.mat-list-item {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.active-link {
    $active-link-palette: mat.$indigo-palette; // Define local variable for the palette
    background-color: mat.get-color-from-palette($active-link-palette, 50);
    color: mat.get-color-from-palette($active-link-palette, 700);

    .mat-icon {
      color: mat.get-color-from-palette($active-link-palette, 700);
    }
  }
}

mat-nav-list .mat-icon {
  margin-right: 16px;
  color: rgba(0,0,0,0.54);
}

/* Responsive adjustments */
@media (max-width: 599.98px) {
  .sidenav {
    width: 230px;
  }
  .main-content {
    padding: 16px;
  }
}
